/*body{
    min-height: 100vh;
    background-image: url(../images/galaxy.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}*/
main{
    padding:10vh 5vw;
}
#projects_wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project_card{
    margin-top:1rem;
}
.project_card > div > h2{
    font-variant: small-caps;
    color: var(--dark-color);
    padding:0.5rem;
    font-size: var(--fs-med);
}
.project_card > div > a{
    color:var(--dark-color);
    transition:all 300ms ease;
    padding: 0.3rem 0.7rem;
    background-color: var(--accent-color);
    border-radius:4px;
    margin: 0.5rem;
 }
 .project_card > div > a:hover{
    color: var(--accent-color);
    background-color: var(--dark-color);
 }
.project_img_wrap{
    max-width: 300px;

}
.project_img_wrap > img{
    max-width: 90%;
    height:auto;
}